@model IEnumerable<CrossEduAsp.Models.Entities.GameEntity>

@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-3 margin-top">

        <input class="margin-top"type="text" placeholder="Szukaj" size="28">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          
        <div class="category margin-top">
            <div class="category-header">
                Sortuj według tagów
            </div>
            <div class="cell">
                <div class="checkbox margin-top margin-left">
                    <label>
                        <input type="checkbox"> Free To Play
                    </label>
                </div>
            </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> MMO
                    </label>
                </div>
            </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Gry Akcji
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Strzelanka
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Niezależne
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Przygodowe
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Tryb dla jednego gracza
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Tryb wielosobowy
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> FPS
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Strategie
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> RPG
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Symulacje
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Proste Gry
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left">
                    <label>
                        <input type="checkbox"> Wyścigi
                    </label>
                </div>
                </div>
            <div class="cell">
                <div class="checkbox margin-left padding-bottom">
                    <label>
                        <input type="checkbox"> Sportowe
                    </label>
                </div>
                </div>
            </div>
    </div>


    <div class="col-md-9">
        <div class="jumbotron">
            <h1>Top 10</h1>
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="gameTitle">
                            @Html.ActionLink(Html.DisplayFor(modelItem => item.Title).ToString(), "Game", "ShowGame", new {id = item.Id})
                        </h2>
                        <br/>
                    </div>
                </div>
            }
        </div>
    </div>